/* ------------------------------------------
  Reset ¦
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* remember to define focus styles. Hee Haw */
:focus { outline: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  }


/* ------------------------------------------
  Typography
---------------------------------------------*/
html,body {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5em;
  letter-spacing:0.02em;
	margin:0px;
	background: #303235;
}

body,
textarea,
input { font: 13px/20px 'Ubuntu', sans-serif; }

h1, h2, h3, h4, h5, h6 {
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
	-moz-margin-before:0px;
	-moz-margin-after:0px;
	}

h1, h2, h3, h4, h5, h6 {
	font-weight:400;
	}

h1 {
	font-size:2.0em;
	line-height:1.2em;
	}
	
h2 {
	font-size:1.8em;
	}

h3 {
	font-size:1.6em;
	line-height:1.4em;
	}

h4 {
	font-size: 1.6em;
	line-height:1.6em;
	}

h5{
	font-size:1.5em;
	line-height:1.6em;
	}
	
h6{
	font-size:1.4em;
	line-height:1.55em;
	}
	
a {
  color: #09d;
  text-decoration: none;
}
  
a:hover {
  color: #204859;
}
  
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.meta{
	float: right; font-size: 14px;
	position: absolute;
	left: 20px;
	bottom: 30px;
}

p{
	line-height: 1.2em; 
	text-align: center;
	
}

.title{text-align: center;}
.title a{color:#204859;}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  }


/* Use border-box box model */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* ------------------------------------------
  Globals
---------------------------------------------*/
 
table, tr, td, th{
	vertical-align: middle;
	text-align:center;
	width:100%;
	border-collapse: collapse;
	border: none
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

.slide{
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000000;
    cursor: pointer;
    font-size: 2.5em;
	line-heihgt: 1.4em;
    margin: 36px;
	margin-bottom: 50px;
    padding: 20px 80px;
	position: relative;
}
.first, .slide-1{	background: #E8703D;}
	
.second, .slide-2{background: #F4A938;}
	
.third, .slide-3{	background: #ADA248;}	
	
.fourth, .slide-4{background: #E8703D; }


/* ------------------------------------------
  Footer - a sticky one
---------------------------------------------*/


/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

#container { 
  min-height: 100%;
  /*min-width: 960px;*/
  width: 100%;
}

#footer {
  background: none repeat scroll 0 0 #E0E7EB;
  color: #303235;
    border-top: 1px solid #C3CCD0;
    bottom: 0;
    height: 25px;
    left: 0;
    position: fixed;
    width: 100%;
}

#footer .footer-content {
  width: 960px;
  margin: 0 auto;
  font-size: 13px;
}

/* ------------------------------------------
  Class Helpers
---------------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

.icon {
  background: transparent url(images/icons.png) no-repeat 0 0;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
}
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }

.inner      { padding: 0px 0px 40px; }
.hidden     { display: none; }
.centered   { text-align: center; }
.scrolling  { overflow: auto; }
.clipping   { overflow: hidden; }


/* ------------------------------------------
  ios and small screen alterations
---------------------------------------------*/
 @media all and (max-width: 480px) {
  
}