---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Yatsıyı Bekleyemedik &middot; Olamayanlar</title>
  <link rel='shortcut icon' href='{{site.root_dir}}/images/favicon.ico' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.root_dir}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.root_dir}}/app.css'>
</head>
<body>
  <div id='container'>
    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      <a href="{{site.root_dir}}">yatsıyı bekleyemedik</a> şeysidir bir <a href="http://www.olamayanlar.com" target="_blank">olamayanlar</a> şeysidir
    </div>
  </div>
</body>
</html>
